.cart {
  padding: 1rem;
}

.cart p {
  margin: 0.5rem 0;
}

.cart button,
.cart a {
  width: 100%;
  color: #fff;
  text-align: center;
}

.btn-danger {
  background-color: #ff3030;
}

.btn-danger:hover {
  background-color: #ff3030cd;
}

.btn-success {
  background-color: #acff30;
  color: #4a4a4a !important;
  font-weight: 500;
}

.btn-success:hover {
  background-color: #acff30a8;
  color: #4a4a4a;
}

.cart-title {
  text-align: center;
  margin: 1rem 0 2rem;
  font-weight: 500;
}

.txt-l {
  text-align: left;
}

.order-page {
  max-width: 70%;
  margin: 0 auto;
}

.d-none {
  display: none;
}
